
.second-hand{
	stroke-width:0;
	
}

.minute-hand{
	stroke-width:8;
	stroke-linecap:round;
	stroke: #000;
}

.hour-hand{
	stroke-width:12;
	stroke-linecap:round;
	stroke: #000;
}

.hands-cover{
	stroke: #000;
	stroke-width:3;
	fill:#fff;
}
.apm-ind{
	font-family: 'Arial';
	font-size: 28px;
}

.hour-tick{
	stroke-width:8; 
	stroke: #000;
}

.hour-label{
	font-size: 24px;
}
